*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
}

#bg{
    width: 100%;
    height: 100%;
    filter: blur(22px);
}

form{
    position: absolute;
    top: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 400px;
    background-color: grey;
    padding: 20px;
    gap: 8px;
    border-radius: 8px;
    z-index: 1000;
    font-size: xx-large;
    text-shadow: 2px 2px black;
}

input{
    height: 35px;
}

#sign{
    margin-top: 10px;
    border-radius: 8px;
    height: 40px;
    background-color: rgb(68,176,102);
    border: none;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px black;
    margin-bottom: 10px;
}

#sign:hover{
    background-color: darkgreen;
    cursor: pointer;;
}

#contactt{
    border: none;
    color: white;
    background-color: darkgrey;
    height: 30px;
    width: 100%;
}

#contactt:hover{
    background-color: black;
    cursor: pointer;
}